.list > li{
	margin: 2em 0;
}

h1{
	text-transform: uppercase;
}

i{	
	
	font-weight: lighter;
	font-style: italic;
}

li{
	list-style: none;
}
.choice{
	padding-left: 0;
}

ul .h5{
	
	margin-top: 2em;
	padding-bottom: 1em;
	border-bottom: 1px #eeeeee solid;

}

/*              if($answer == "oui") {
                        $balance++;
                    }
                    else{
                        $balance--;
                    }*/
